@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}

body {
  min-height: 100vh;
  background-image: url(IMG.jpg);
  height: 100vh;
  background-position: auto;
  background-size:contain;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 15px;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: auto;
    color: ghostwhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .5s;
}

.navbar a:hover,
.navbar a.active{
    color: black;
}

