@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  background-position: auto;
  background-size: cover;
}


.wrapper {
  width: 95%; /* Decrease the width */
  max-width: 400px; /* Decrease the max-width */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: ghostwhite;
  border-radius: 10px;
  padding: 30px 40px; /* Decrease the padding */
}

.wrapper h1,
.wrapper h2 {
  font-size: 25px;
}

.wrapper .inputBox {
  width: 100%; /* Decrease the width */
  margin: 20px 0; /* Decrease the margin */
  border-radius: 15px;
  padding: 2px;
}

.inputBox input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 35px; /* Decrease the border-radius */
  font-size: 18px;
  color: white;
  padding: 15px; /* Decrease the padding */
}

.inputBox input::placeholder {
  color: ghostwhite;
}

.inputBox i {
  position: absolute;
  right: 15px; /* Decrease the right position */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot {
   display: flex;
   justify-content: space-between;
  font-size: 14.5px;
  margin: 10px; /* Decrease the margin */
  position: relative;
}


.remember-forgot label input {
    accent-color: ghostwhite;
    margin-right: 3px;
}

.remember-forgot a {
  color: ghostwhite;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper .button {
  width: 95%; /* Decrease the width */
  height: 40px; /* Decrease the height */
  background: ghostwhite;
  border: none;
  outline: none;
  border-radius: 35px; /* Decrease the border-radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 15px; /* Decrease the margin-top */
}